<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"><h4>マイページ</h4></div>
        <div class="col-sm-5"><%= link_to "画像一覧(map)", show_map_user_path(@user), class: "btn btn-primary mr-4" %></div>
        <div class="col-sm-5">
            <% if  user_signed_in? %>
            <% if @user.id == current_user.id %>
            <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-primary mr-3" %>
            <%= link_to "カメラ編集", cameras_path, class: "btn btn-primary mr-3" %>
            <%= link_to "レンズ編集", lenses_path, class: "btn btn-primary" %>
            <% end %>
            <% end %>
        </div>
    </div>
    <div class="row mt-4">
        <% @photos.each do |photo| %>
        <div class="col-sm-8  mx-auto text-center">
            <!-- mx-autoでボックスをセンターに寄せる -->
            <%= link_to photo_path(photo.id), class: 'text-dark' do %>
            <!-- //w-100で画像サイズを100%にリサイズ設定 -->
            <%= attachment_image_tag photo, :image, class: "w-100" %>
            <%#= image_tag photo, :image, class: "w-100" %>
            <ul class="user-favorite">
                <li>タイトル:
                <%= photo.title %></li>
                <li class="far fa-comments text-danger ml-4">
                    <%= photo.post_comments.count %></li>
                <!-- iタグでajaxにすると、いいねを押したときに不具合が生じる(複数にハートが表示される)ので、インラインブロックで対応させた -->
                <li class="photo_<%= photo.id %>">
                    <%= render 'photos/favorite', photo: photo %>
                </li>
            </ul>
                <%# if photo.favorited_by?(current_user) %>
                <%#= link_to photo.favorites.count, photo_favorites_path(photo.id), method: :delete, class: "fa fa-heart text-danger" %>
                <%# else %>
                <%#= link_to photo.favorites.count, photo_favorites_path(photo.id), method: :post, class: "fa fa-heart-o text-danger" %>
                <%# end %>
            <% end %>
        </div>
        <% end %>
    </div>
</div>