<div class="container">
    <div class="row">
        <h1>写真編集</h1>
        <%= attachment_image_tag @photo, :image %>
        <%= form_for(@photo) do |f| %>
        <h2>新規登録画面</h2>
        <%= f.attachment_field :image %>
        <h4>タイトル</h4>
        <%= f.text_field :title %>
        <h4>説明</h4>
        <%= f.text_area :caption %>
        <h4>ジャンル</h4>
        <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "選択してください" %>
        <h4>撮影場所</h4>
        <p>緯度<%= f.text_field :latitude %></p>
        <p>経度<%= f.text_field :longitude %></p>
        <h4>撮影日時</h4>
        <%= f.text_field :taken_at %>
        <h4>シャッタースピード</h4>
        <%= f.text_field :speed %>
        <h4>F値</h4>
        <%= f.text_field :f_number %>
        <h4>iso感度</h4>
        <%= f.text_field :iso_speed %>
        <h4>ホワイトバランス</h4>
        <%= f.text_field :white_balance %>

        <br>
        <%= f.submit "保存", class:'mt-2'%>
        <% end %>
    </div>
</div>