<div class="container">
    <% if @photo.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% @photo.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <h2>新規登録画面</h2>
    <div class="row">
        <div>
            <h4>操作方法</h4>
            <p>①右クリックで保存したい位置にマーカーを表示<br>②ドラッグ＆ドロップでピン差し位置を調整</p>
        </div>
        <!-------------------------------- ここより下は地図表示 --------------------------------->
        <!DOCTYPE html>
        <html>

        <head>
            <meta charset="utf-8">
            <meta charset="utf-8">
            <style>
                /* マップを表示する div 要素の高さを必ず明示的に指定します。 */
    #map {
        height: 400px;
        width: 1000px;
    }
    #header {
          padding: 3px;
          width: 100%;
          font-family: Meriyo UI;
          font-size: 14px;
          color: #000;
      }
    </style>
        </head>

        <body>
            <div id="header"><b>Google Maps - 場所検索</b></div>
            <div>施設名称検索 （例：東京、熊本城）</div>
            <input type="text" id="keyword"><button id="search">検索実行</button>
            <button id="clear">結果クリア</button>
            <div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->
            <div id="infowindw"></div>
            <script>
                var map;
                var marker;
                var center = { lat: 37.67229496806523, lng: 137.88838989062504 };
    // var infoWindow;
    // var center = {
    //     lat: 35.65813908034716, // 緯度
    //     lng: 139.69948625369216 // 経度
    // };

    //railsにデータを渡すためのIDを定義
    function myFnc() {
    document.getElementById('lat_data').value =  document.getElementById('lat').value;
    document.getElementById('lng_data').value =  document.getElementById('lng').value;
    }


    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), { // #sampleに地図を埋め込む
            center: center, // 地図の中心を指定
            zoom: 2 // 地図のズームを指定
        });


////////////////////////////////////////////////////以下、geocordingを挿入

// 検索実行ボタンが押下されたとき
        document.getElementById('search').addEventListener('click', function() {

            var place = document.getElementById('keyword').value;
            var geocoder = new google.maps.Geocoder(); // geocoderのコンストラクタ


            //マップ表示



            geocoder.geocode({
                address: place
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {

                    var bounds = new google.maps.LatLngBounds();

                    for (var i in results) {
                        if (results[0].geometry) {
                            // 緯度経度を取得
                            latlng = results[0].geometry.location;
                            // 住所を取得
                            var address = results[0].formatted_address;
                            // 検索結果地が含まれるように範囲を拡大
                            bounds.extend(latlng);
                            // マーカーのセット
                            //setMarker(latlng);
                            // マーカーへの吹き出しの追加
                            //setInfoW(place, latlng, address);
                            // マーカーにクリックイベントを追加
                            //markerEvent();
                            //alert(latlng);
                            map.setZoom(16);
                            map.setCenter(latlng);

                            console.log(map);
                        }
                    }
                } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
                    alert("見つかりません");
                } else {
                    console.log(status);
                    alert("エラー発生");
                }
            });

        // 結果クリアーボタン押下時
        document.getElementById('clear').addEventListener('click', function() {
            map.setZoom(2);
            map.setCenter(center);
        });
    });
///////////////////////////////////////////////


        //     marker = new google.maps.Marker({ // マーカーの追加
        //         position: center, // マーカーを立てる位置を指定
        //         map: map, // マーカーを立てる地図を指定
        //         title: "sample"
        //     });

        //     infoWindow = new google.maps.InfoWindow({ //吹き出しの追加
        //         //content: '<div class = "map">SAMPLE</div>' //吹き出しに表示する内容
        //         content: document.getElementById('infowindw')
        //     });
        //     marker.addListener('click', function() { //マーカーをクリックしたとき
        //         infoWindow.open(map, marker); //吹き出しの表示
        //     });
        // map.addListener('click', function(e) {
        //     this.setCenter(e.latLng);
        //     this.panTo(e.latLng);   //アニメーションで中心位置を移動
        // });


        //マップのイベント
        google.maps.event.addListener(map, 'rightclick', function(e) {
            //☆表示している地図上の緯度経度
             document.getElementById('lat').value=e.latLng.lat();
             document.getElementById('lng').value=e.latLng.lng();
             myFnc();
             deleteMarkers();


            marker = new google.maps.Marker({


             // マーカーの追加
                position: e.latLng, //イベントの発生した緯度・経度（位置）
                map: map, //this は map を意味します
                title: "撮影場所の登録",
                draggable: true,
                disableDoubleClickZoom: true,
                animation: google.maps.Animation.DROP
            });



            var infoWindow = new google.maps.InfoWindow({
                content: "ドラッグで移動" + "<br>" + "バツで閉じる" //イベントの発生した位置を toString() で文字列に変換
            });



            //マーカーのイベント
            google.maps.event.addListener(marker, 'click', function() {
                //マーカーをクリックしたとき
                infoWindow.open(map, marker); //marker の位置に情報ウィンドウを表示
                //myFnc();

            });

            // マーカーのドロップ（ドラッグ終了）時のイベント
            google.maps.event.addListener(marker, 'dragend', function(e) {
            // イベントの引数evの、プロパティ.latLngが緯度経度。
            document.getElementById('lat').value = e.latLng.lat();
            document.getElementById('lng').value = e.latLng.lng();
            myFnc();

            });

            //情報ウィンドウののイベント
            google.maps.event.addListener(infoWindow, 'closeclick', function() {
                marker.setMap(null); //マーカーを削除
                document.getElementById('lat').value = null;
                document.getElementById('lng').value = null;
                myFnc();
            });
        });

                //マーカーを削除する
        function deleteMarkers() {
          if(marker != null){
            marker.setMap(null);
          }
          marker = null;
        }
    }
    </script>
            <script src="https://maps.googleapis.com/maps/api/js?language=ja&region=JP&key=<%=ENV['GOOGLE_MAP_API']%>&callback=initMap" async defer></script>
        </body>

        </html>
        <!--         <p>マーカーのある位置の<br>
            緯度 <input type="text" id="lat" value="" onchange="myFnc();"><br>
            経度 <input type="text" id="lng" value=""><br>
            地図上をクリックするとマーカーを移動できます。</p> -->
    </div>
    <!-------------------------------- ここより上は地図表示 ----------------------------------------------------------------------------->
    <div class="row mt-4">
        <div class="col-sm-4">
            <%= form_for(@photo) do |f| %>
            <!-- 写真の登録 -->
            <h5>画像選択</h5>
            <%= f.attachment_field :image %>
            <h5>タイトル</h5>
            <%= f.text_field :title %>
            <h5>説明</h5>
            <%= f.text_area :caption %>
            <!--  <h5>ジャンル</h5> -->
            <%#= f.collection_select :category_id, Category.all, :id, :name, :prompt => "選択してください" %>
            <h5>撮影場所</h5>
            <p>緯度 <input type="text" id="lat" value="" onchange="myFnc();"></p>
            <p>経度 <input type="text" id="lng" value=""></p>
            <p>
                <%= f.hidden_field :latitude, id: "lat_data" %>
            </p>
            <p>
                <%= f.hidden_field :longitude, id: "lng_data" %>
            </p>
        </div>
        <div class="col-sm-4">
            <h5>撮影日時</h5>
            <%= f.text_field :taken_at %>
            <h5>シャッタースピード</h5>
            <%= f.text_field :speed %>
            <h5>F値</h5>
            <%= f.text_field :f_number %>
            <h5>iso感度</h5>
            <%= f.text_field :iso_speed %>
            <!-- <h5>ホワイトバランス</h5> -->
            <%#= f.text_field :white_balance %>
        </div>
        <!-- 撮影場所の登録 -->
        <!-- カメラの登録 -->
        <div class="col-sm-4">
            <h5>カメラ情報</h5>
            <label class="mr-4">
                <input type="radio" name="selected_button_camera" value="registered_camera" onclick="select_camera1();" checked="checked" />登録カメラから選択</label>
            <label>
                <input type="radio" name="selected_button_camera" value="new_camera" onclick="select_camera1();" />新しいカメラ</label><br>
            <div id="Box1">
                <%= f.collection_select :camera_id, current_user.cameras, :id, :camera_info,:prompt => "選択してください" %>
            </div>
            <div id="Box2">
                <%= f.fields_for(@new_camera) do |camera| %>
                <p class="mb-2">メーカー
                    <%= camera.text_field :maker %>
                </p>
                <p>型式
                    <%= camera.text_field :model %>
                </p>
            </div>
            <% end %>
            <!-- レンズの登録 -->
            <h5 class="mt-4">レンズ情報</h5>
            <label class="mr-4">
                <input type="radio" name="selected_button_lense" value="registered_lense" onclick="select_lense1();" checked="checked" />登録レンズから選択</label>
            <label>
                <input type="radio" name="selected_button_lense" value="new_lense" onclick="select_lense1();" />新しいレンズ</label><br>
            <div id="Box3">
                <%= f.collection_select :lense_id, current_user.lenses, :id, :lense_info,:prompt => "選択してください" %>
            </div>
            <div id="Box4">
                <%= f.fields_for(@new_lense) do |lense| %>
                <p class="mb-2">メーカー
                    <%= lense.text_field :maker %>
                </p>
                <p>型式
                    <%= lense.text_field :model %>
                </p>
            </div>
            <% end %>
            <%= f.submit "投稿", class: 'btn btn-primary mt-2'%>
        </div>
        <% end %>
    </div>
</div>
<!------------------------入力項目のラジオボタン選択に対応した表示切替------------------------------------------->
<script>
function select_camera1() {
    radio = document.getElementsByName('selected_button_camera')
    if (radio[0].checked) {
        document.getElementById('Box1').style.display = "";
        document.getElementById('Box2').style.display = "none";
    } else if (radio[1].checked) {
        document.getElementById('Box1').style.display = " none";
        document.getElementById('Box2').style.display = "";
    }
}

function select_lense1() {
    radio = document.getElementsByName('selected_button_lense')
    if (radio[0].checked) {
        document.getElementById('Box3').style.display = "";
        document.getElementById('Box4').style.display = "none";
    } else if (radio[1].checked) {
        document.getElementById('Box3').style.display = " none";
        document.getElementById('Box4').style.display = "";
        window.onload = select_lense1;
    }
}
// //////////////////画面表示時のラジオボタン選択状態///////////////////////////////////////////////////////////////////
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('Box1').style.display = ""; //表示
    document.getElementById('Box2').style.display = "none"; //非表示
    document.getElementById('Box3').style.display = "";
    document.getElementById('Box4').style.display = "none";

}, )
</script>