<div class="container">
    <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Simple Map Sample</title>
    <meta charset="utf-8">
    <style>
    /* マップを表示する div 要素の高さを必ず明示的に指定します。 */
    #map {
        height: 400px;
        width: 1000px;
    }
    </style>
</head>

<body>
    <div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->
    <div id="infowindw">sample1</div>
    <script>
    var map;
    // var marker;
    // var infoWindow;
    // var center = {
    //     lat: 35.65813908034716, // 緯度
    //     lng: 139.69948625369216 // 経度
    // };



    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), { // #sampleに地図を埋め込む
            center: { lat: 35.65813908034716, lng: 139.69948625369216 }, // 地図の中心を指定
            zoom: 8 // 地図のズームを指定
        });

        //     marker = new google.maps.Marker({ // マーカーの追加
        //         position: center, // マーカーを立てる位置を指定
        //         map: map, // マーカーを立てる地図を指定
        //         title: "sample"
        //     });

        //     infoWindow = new google.maps.InfoWindow({ //吹き出しの追加
        //         //content: '<div class = "map">SAMPLE</div>' //吹き出しに表示する内容
        //         content: document.getElementById('infowindw')
        //     });
        //     marker.addListener('click', function() { //マーカーをクリックしたとき
        //         infoWindow.open(map, marker); //吹き出しの表示
        //     });
        map.addListener('click', function(e) {
            this.setCenter(e.latLng);
            this.panTo(e.latLng);   //アニメーションで中心位置を移動
        });


        //マップのイベント
        google.maps.event.addListener(map, 'dblclick', function(e) {
            //☆表示している地図上の緯度経度
            document.getElementById('lat').value=e.latLng.lat();
            document.getElementById('lng').value=e.latLng.lng();

            var marker = new google.maps.Marker({


             // マーカーの追加
                position: e.latLng, //イベントの発生した緯度・経度（位置）
                map: map, //this は map を意味します
                animation: google.maps.Animation.DROP
            });

            var infoWindow = new google.maps.InfoWindow({
                content: e.latLng.toString() //イベントの発生した位置を toString() で文字列に変換
            });

            //マーカーのイベント
            google.maps.event.addListener(marker, 'click', function() {
                infoWindow.open(map, marker); //marker の位置に情報ウィンドウを表示
            });

            //情報ウィンドウののイベント
            google.maps.event.addListener(infoWindow, 'closeclick', function() {
                marker.setMap(null); //マーカーを削除
            });
        });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOlapdhQ2xu4MKQzcqUDSrLCxBBHtwpns&callback=initMap" async defer></script>
</body>

</html>

<p>マーカーのある位置の<br>
緯度 <input type="text" id="lat" value=""><br>
経度 <input type="text" id="lng" value=""><br>
地図上をクリックするとマーカーを移動できます。</p>



    <div class="row">
        <% if @photo.errors.any? %>
        <div id="error_explanation">
            <ul>
                <% @photo.errors.full_messages.each do |message| %>
                <li>
                    <%= message %>
                </li>
                <% end %>
            </ul>
        </div>
        <% end %>
        <%= form_for(@photo) do |f| %>
        <h2>新規登録画面</h2>
        <!-- 写真の登録 -->
        <div>
            <%= f.attachment_field :image %>
            <h4>タイトル</h4>
            <%= f.text_field :title %>
            <h4>説明</h4>
            <%= f.text_area :caption %>
            <h4>ジャンル</h4>
            <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "選択してください" %>
            <h4>撮影場所</h4>
            <p>緯度
                <%= f.hidden_field :latitude, :value => id="lat" %>
            </p>
            <p>経度
                <%= f.hidden_field :longitude, :value => id="lng" %>
            </p>
            <h4>撮影日時</h4>
            <%= f.text_field :taken_at %>
            <h4>シャッタースピード</h4>
            <%= f.text_field :speed %>
            <h4>F値</h4>
            <%= f.text_field :f_number %>
            <h4>iso感度</h4>
            <%= f.text_field :iso_speed %>
            <h4>ホワイトバランス</h4>
            <%= f.text_field :white_balance %>
        </div>
        <!-- 撮影場所の登録 -->

        <!-- カメラの登録 -->
        <div>
            <!-- 新規のカメラ登録 -->
            <label>
                <%= radio_button_tag("selected_button_camera", "registered_camera") %>登録カメラから選択
            </label><br>
            <%#= f.label :user_id, class="sr-only" %>
            <%= f.collection_select :user_id, current_user.cameras, :id, :camera_info,:prompt => "選択してください" %><br>
            <label class="mt-4">
                <%= radio_button_tag("selected_button_camera", "new_camera") %>新しいカメラ
            </label>
            <%= f.fields_for(@new_camera) do |camera| %>
            <h4>メーカー</h4>
            <%= camera.text_field :maker %>
            <h4>型式</h4>
            <%= camera.text_field :model %>
            <% end %>
        </div>
        <!-- レンズの登録 -->
        <div>
            <!-- 新規のレンズ登録 -->
            <label>
                <%= radio_button_tag("selected_button_lense", "registered_lense") %>登録レンズから選択
            </label><br>
            <%#= f.label :user_id, class="sr-only" %>
            <%= f.collection_select :user_id, current_user.lenses, :id, :lense_info,:prompt => "選択してください" %><br>
            <label class="mt-4">
                <%= radio_button_tag("selected_button_lense", "new_lense") %>新しいレンズ
            </label>
            <%= f.fields_for(@new_lense) do |lense| %>
            <h4>メーカー</h4>
            <%= lense.text_field :maker %>
            <h4>型式</h4>
            <%= lense.text_field :model %>
            <% end %>
        </div>
        <br>
        <%= f.submit "投稿", class:'mt-2'%>
        <% end %>
    </div>
</div>