<div class="container">
    <% if @photo.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% @photo.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <h2>新規登録画面</h2>
    <div class="row">
        <div>
            <h4>操作方法</h4>
            <p>①右クリックで保存したい位置にマーカーを表示<br>②ドラッグ＆ドロップでピン差し位置を調整</p>
        </div>
        <!-------------------------------- ここより下は地図表示 --------------------------------->
        <%= render "/photos/map" %>
        <body>
            <div id="header"><b>Google Maps - 場所検索</b></div>
            <div>施設名称検索 （例：東京、熊本城）</div>
            <input type="text" id="keyword"><button id="search">検索実行</button>
            <button id="clear">結果クリア</button>
            <div id="map" class="mt-1"></div><!-- 地図を表示する div 要素（id="map"）-->
            <div id="infowindw"></div>
            <%= javascript_include_tag "photo_new.js" %>
        </body>

    </div>
    <!-------------------------------- ここより上は地図表示 ----------------------------------------------------------------------------->
    <div class="row mt-4">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <%= form_for(@photo) do |f| %>
            <!-- 写真の登録 -->
            <h5>画像選択</h5>
            <%= f.attachment_field :image %>
            <h5>タイトル</h5>
            <%= f.text_field :title %>
            <h5>説明</h5>
            <%= f.text_area :caption %>
            <!--  <h5>ジャンル</h5> -->
            <%#= f.collection_select :category_id, Category.all, :id, :name, :prompt => "選択してください" %>
            <h5>撮影場所</h5>
            <p>緯度 <input type="text" id="lat" value="" onchange="myFnc();"></p>
            <p>経度 <input type="text" id="lng" value="" onchange="myFnc();"></p>
            <p>
                <%= f.hidden_field :latitude, id: "lat_data" %>
            </p>
            <p>
                <%= f.hidden_field :longitude, id: "lng_data" %>
            </p>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <h5>撮影日時</h5>
            <%= f.date_field :taken_at %>
            <h5>シャッタースピード</h5>
            <%= f.text_field :speed %>
            <h5>F値</h5>
            <%= f.text_field :f_number %>
            <h5>iso感度</h5>
            <%= f.text_field :iso_speed %>
        </div>
        <!-- 撮影場所の登録 -->
        <!-- カメラの登録 -->
        <div class="col-lg-4 col-sm-12">
            <h5>カメラ情報</h5>
            <label class="mr-4">
                <input type="radio" name="selected_button_camera" value="registered_camera" onclick="select_camera1();" checked="checked" />登録カメラから選択</label>
            <label>
                <input type="radio" name="selected_button_camera" value="new_camera" onclick="select_camera1();" />新しいカメラ</label><br>
            <div id="Box1">
                <%= f.collection_select :camera_id, current_user.cameras, :id, :camera_info,:prompt => "選択してください" %>
            </div>
            <div id="Box2">
                <%= f.fields_for(@new_camera) do |camera| %>
                <p class="mb-2">メーカー
                    <%= camera.text_field :maker %>
                </p>
                <p>型式
                    <%= camera.text_field :model %>
                </p>
            </div>
            <% end %>
            <!-- レンズの登録 -->
            <h5 class="mt-4">レンズ情報</h5>
            <label class="mr-4">
                <input type="radio" name="selected_button_lense" value="registered_lense" onclick="select_lense1();" checked="checked" />登録レンズから選択</label>
            <label>
                <input type="radio" name="selected_button_lense" value="new_lense" onclick="select_lense1();" />新しいレンズ</label><br>
            <div id="Box3">
                <%= f.collection_select :lense_id, current_user.lenses, :id, :lense_info,:prompt => "選択してください" %>
            </div>
            <div id="Box4">
                <%= f.fields_for(@new_lense) do |lense| %>
                <p class="mb-2">メーカー
                    <%= lense.text_field :maker %>
                </p>
                <p>型式
                    <%= lense.text_field :model %>
                </p>
            </div>
            <% end %>
            <%= f.submit "投稿", class: 'btn btn-primary mt-2'%>
        </div>
        <% end %>
    </div>
</div>
<!------------------------入力項目のラジオボタン選択に対応した表示切替------------------------------------------->
<%= javascript_include_tag "photo_new_radio_button.js" %>