<div class="container">
    <div class="row border-bottom mt-4">
        <div class="col-sm-8">
            <div class="mb-4">
                <%= attachment_image_tag @photo, :image, class: 'w-100 mb-4' , fallback: "no_image.jpg", class: 'w-100' %>
                <i class="far fa-comments mr-4 text-danger">
                    <%= @photo.post_comments.count %></i>
                <i class="photo_<%= @photo.id %>">
                    <%= render 'photos/favorite', photo: @photo %></i>
            </div>
            <div class="mb-4">
                <h4>撮影者の情報</h4>
                <%= link_to user_path(@photo.user_id), class: 'mr-4 text-dark' do %>
                <%= attachment_image_tag @photo.user, :profile_image, :fill, 100, 100, class: "rounded-circle profile-thumb", fallback: "no_image.jpg", :width => "50", :height => "50" %>
                <%= @photo.user.display_name %>
                <% end %>
                <i class="far fa-images ml-4">
                    <%= "投稿写真数:　#{@photo.user.photos.count}枚" %></i>
                <% if @photo.user == current_user %>
                <% end %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="photo-detail">
                <h4>写真情報
                    <% if user_signed_in? && @photo.user_id == current_user.id %>
                    <%= link_to '編集', edit_photo_path(@photo.id), class: 'btn btn-primary btn-sm mr-1' %>
                    <%= link_to '削除', photo_path(@photo.id), method: :delete, data: {confirm: "削除しますか？"},  class: 'btn btn-danger btn-sm'%>
                    <% end %>
                </h4>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="border-top-0"></th>
                            <th class="border-top-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><label>タイトル</label></td>
                            <td>
                                <%= @photo.title %>
                            </td>
                        </tr>
                        <tr>
                            <td><label>説明</label></td>
                            <td>
                                <%= @photo.caption %>
                            </td>
                        </tr>
                        <!--                         <tr>
                            <td><label>ジャンル</label></td>
                            <td>
                                <%#= @photo.category.name %>
                            </td>
                        </tr> -->
                        <tr>
                            <td><label>撮影場所</label></td>
                            <td>
                                <%= "緯度: #{@photo.latitude}" %><br>
                                <%= "経度: #{@photo.longitude}" %>
                            </td>
                        </tr>
                        <tr>
                            <td><label>撮影日時</label></td>
                            <td>
                                <%= @photo.taken_at.strftime('%Y年%m月%d日') %>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="camera-lense mt-4">
                <h4>撮影機器</h4>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="border-top-0"></th>
                            <th class="border-top-0">メーカー</th>
                            <th class="border-top-0">型式</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>カメラ</td>
                            <td>
                                <%= @photo.camera_maker %>
                            </td>
                            <td>
                                <%= @photo.camera_model %>
                            </td>
                        </tr>
                        <tr>
                            <td><label>レンズ</label></td>
                            <td>
                                <%= @photo.lense_maker %>
                            </td>
                            <td>
                                <%= @photo.lense_model %>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="border-top-0">
                                <h4>設定</h4>
                            </th>
                            <th class="border-top-0"></th>
                        </tr>
                    </thead>
                    <tr>
                        <td><label>シャッタースピード</label></td>
                        <td>
                            <%= @photo.speed %>
                        </td>
                    </tr>
                    <tr>
                        <td><label>F値</label></td>
                        <td>
                            <%= @photo.f_number %>
                        </td>
                    </tr>
                    <tr>
                        <td><label>iso感度</label></td>
                        <td>
                            <%= @photo.iso_speed %>
                        </td>
                    </tr>
                    <!--                     <tr>
                        <td><label>ホワイトバランス</label></td>
                        <td>
                            <%= @photo.white_balance %>
                        </td>
                    </tr> -->
                </table>
            </div>
        </div>
    </div>
<!--     <div class="row mt-4 mb-4">
        <div class="col-sm-12">
            <h4>コメント</h4>
            <%# @photo.post_comments.each do |post_comment| %>
            <div class="photo-show-comment-body mt-2">
                <%#= attachment_image_tag post_comment.user, :profile_image, :fill, 50, 50, class: "rounded-circle profile-thumb", fallback: "no_image.jpg", :width => "50", :height => "50" %>
                <a>
                    <%#= post_comment.user.display_name %></a>
                <%#= post_comment.created_at.strftime("%Y/%m/%d") %>
                <%#= post_comment.comment %>
                <%# if current_user.present? %>
                <%# if post_comment.user_id == current_user.id %>
                <%#= link_to '削除', photo_post_comment_path(@photo.id, post_comment.id), method: :delete, data: {confirm: "削除しますか？"},  class: 'btn btn-danger'%>
                <%# end %>
                <%# end %>
            </div>
            <%# end %>
        </div>
    </div> -->
    <%= render 'photos/comment', photo: @photo %>
    <%= form_for [@photo, @post_comment], data: {remote: true} do |f| %>
    <div class="row mb-4">
        <%= f.text_area :comment, class: "col-sm-8 ml-3" %>
        <div class="col-sm-2">
            <%= f.submit "送信", class: "btn btn-primary" %>
        </div>
    </div>
    <% end %>
    <!-------------------------------- ここより下は地図表示 --------------------------------->
    <%= render "/photos/map" %>

    <body>
        <div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->
        <div id="infowindw"></div>
        <script>
        var map;
        var marker;
        // var infoWindow;
        var center = {
            lat: <%= @photo.latitude %>, // 緯度
            lng: <%= @photo.longitude %> // 経度
        };

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), { // #sampleに地図を埋め込む
                center: center, // 地図の中心を指定
                zoom: 8 // 地図のズームを指定
            });

            marker = new google.maps.Marker({ // マーカーの追加
                position: center, // マーカーを立てる位置を指定
                map: map, // マーカーを立てる地図を指定
                title: "<%= @photo.title %>"
            });
        }
        </script>
    </body>
    <!-------------------------------- ここより上は地図表示 ----------------------------------------------------------------------------->
</div>