<!DOCTYPE html>
<html>

<head>
    <title>PHOTOxMAP</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/9323dd025d.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-light bg-light">
            <div class="navbar-brand ">
                <%= link_to photos_path do %>
                <%= image_tag "logo.png", :size => '150x70' %>
                <%end%>
            </div>
            <form class="form-inline">
                <!-- ユーザーがログインしている時  -->
                <% if  user_signed_in? %>
                <ul class="nav navbar ml-auto">
                    <!-- リンクのみ -->
                    <li class="nav-item">
                        <%= link_to user_path(current_user), class: 'fas mr-4 text-dark' do %>
                        <%= attachment_image_tag current_user, :profile_image, :fill, 50, 50, class: "rounded-circle profile-thumb", fallback: "no_image.jpg", :width => "50", :height => "50" %>
                        <%= current_user.display_name %>さん
                        <% end %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "  新規投稿", new_photo_path,  class: 'fas fa-camera mr-4 text-dark' %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "   Logout", destroy_user_session_path, method: :delete, class: "fas fa-sign-out-alt mr-4 text-dark" %>
                    </li>
                    <li>
                        <%= render 'layouts/search' %>
                    </li>
                </ul>
                <!-- アドミンがログインしている時  -->
                <% elsif  admin_signed_in? %>
                <ul class="nav navbar ml-auto">
                    <!-- リンクのみ -->
                    <li class="nav-item">
                        <span class='fas fa-user-secret mr-4 text-dark'>
                            <%= " 管理者" %></span>
                    </li>
                    <li class="nav-item">
                        <%= link_to " ユーザ一覧", admin_users_path, class: 'fas fa-user mr-4 text-dark' %>
                    </li>
                    <li class="nav-item">
                        <%= link_to " 投稿一覧", admin_photos_path,  class: 'fas fa-camera mr-4 text-dark' %>
                    </li>
                    <li class="nav-item">
                        <%= link_to " Logout", destroy_admin_session_path, method: :delete, class: "fas fa-sign-out-alt mr-4 text-dark" %>
                    </li>
                    <li>
                        <%= render 'layouts/search' %>
                    </li>
                </ul>
                <!-- ログインしていない時 -->
                <% else %>
                <ul class="nav navbar ml-auto">
                    <!-- リンクのみ -->
                    <li>
                        <%= link_to "    Guest", new_user_registration_path, class: "fas fa-user mr-4 text-dark" %>
                    </li>
                    <li>
                        <%= link_to "   Sign-up", new_user_registration_path, class: 'fas fa-user-plus mr-4 text-dark' %>
                    </li>
                    <li>
                        <%= link_to "   Login", new_user_session_path, class: 'fas fa-sign-in-alt mr-4 text-dark' %>
                    </li>
                    <li>
                        <%= render 'layouts/search' %>
                    </li>
                </ul>
                <% end %>
            </form>
        </nav>
        <%= render 'layouts/flash' %>
        <div class="container-fluid mb-4">
            <%= yield %>
        </div>
        <footer class="align-center  text-center">
            <h6 class="text-center">@CopyRight PHOTOxMAP.inc</h6>
        </footer>
    </div>
</body>

</html>